body{
    background-image: url(https://wallpaperaccess.com/full/1758755.jpg);
    background-size: cover;
    align-items: center;
    text-align: center;   
}
button{
    font-size: 20px;
    background-image:none 
}